.footer {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 10px 0;
    background-color: #949696;
    width: 100%;
}
@media only screen and (max-width: 500px){
    .footer {
        width: 100%;
        justify-content: center;
    }
}