@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


::selection{
  background: rgba(26,188,156,0.3);
}
.row #project{
    width: 100%;
    height: 400%;
}

.main-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
  width: 40%;
  max-height: 100%;
  padding: 0 20px;
}
.wrapper-1{
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.wrapper-1 .heading{
  height: 90px;
  background: #365d7c;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 25px;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.wrapper-1 form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
}
.wrapper-1 form .row{
    
    width: 100%;
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.row select{
    height: 100%;
  width: 105%;
  outline: none;
  padding: 0 15px 0 15px;
  border-radius: 5px;
  color: grey;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
.wrapper-1 form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
.row button{
 background-color: #365d7c;
 color: whitesmoke;
 cursor: pointer;
 font-size: 20px;
 text-transform: uppercase;
}
form .row input:focus{
  border-color: #16a085;
  box-shadow: inset 0px 0px 1px 1px rgba(26,188,156,0.25);
}
form .row input::placeholder{
  color:grey;
}
.wrapper-1 form button {
  color: #000;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #fff;
  border: 1px solid #16a085;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.5s;
}
form button:hover{
  background: #12876f;
  color: #fff;
}

#handle {
  border : none ;
  background: #16a085;
  color: #fff;
}
#handle:hover {
  background: none;
  color: #000;
  border: 2px solid #12876f;
}
.row textarea {
    width: 100%;
    height: 80%;
    font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  padding: 10px 7px 0 10px;
  outline: none;
  border-radius: 5px;
}
.row textarea::placeholder {
    color : grey;
}
.row textarea:focus {
    border-color: #16a085;
  box-shadow: inset 0px 0px 1px 1px rgba(26,188,156,0.25);
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}

